
.sidenav {
    display: none;
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    right: 0;
    background:linear-gradient(#302927, rgba(255, 255, 255, 0));
    overflow-x: hidden;
    transition: 0.4s;
    padding-top: 60px;
}
.hamburger {
    font-size: 30px;
    color: white;
    cursor: pointer;
    display: none;
    position: absolute;
    top: 11px;
    width: 70px;
    right: 0;
    left:auto;

}
.hamburger {
    font-size: 30px;
    color: white;
    cursor: pointer;
    display: none;
}
@media (max-width: 768px) {
    .nav-links {
        display: none;
    }

    .hamburger {
        display: block;
    }

}

.sidenav a {
    display: block;
    padding: 10px 20px;
    color: white;
    font-size: 16px;
    text-decoration: none;
    transition: 0.3s;
}

.sidenav a:hover {
    color: black;
}

.sidenav .closebtn {
    position: absolute;
    top: 15px;
    right: 25px;
    font-size: 36px;
    cursor: pointer;
}

.with-comma::after {
    left: 0 !important;
    right: auto !important;
  }



body{
    margin: 0;
    padding: 0;
}
#home{
    background-size: cover;
    width: auto;
    background-image: url('../IMG/Home.png');
    height:100vh;
}
.containerone{
    height: 100vh;
    background-color: #3a30428c;
}
header{
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    height: 15%;
    margin: 0;
    width: 100%;
}
.row{
    width: 100%;
}
.logo{
    margin-top: 30px;
    margin-left: 30px;
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-weight: bold;
}
header ul{
    color: white;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

header ul li {
    margin-top: 10px;
position: relative;
}

header ul a{
    font-size: 20px;
    color:white;
    font-weight: bold;
    text-decoration: none;
    transition: 0.2s all;
}

.line11{
    height: 35px;
    width: 4px;
    border-right:solid 1px rgb(255, 255, 255) ;
}
header ul a:hover{
    color: #302927;
    cursor: pointer;
}

.dropdown{
    z-index: 1000;
}

header ul .dropdown {
display: none;
position: absolute;
width: auto;
background-color: white;
border-radius: 20px;
list-style: none;
padding: 20px 0;
margin: 0;
box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}


header ul .dropdown li {
padding: 10px;
margin: 0;
width: 100%;
}


header ul .dropdown a {
font-size: 15px;
padding: 10px 20px;
white-space: nowrap;
border-bottom: none;
color: #302927;
}



header ul .dropdown a:hover {
background-color: #302927;
border-radius: 30px;
color: white;}

.search{
    width:20px;
}

.textt{
    margin-top: 7%;
    margin-left: 12%;
    color: white;
    font-size: 60px;
    font-weight: bold;
}
p span{
    color: #302927;
}
.btna{
    text-decoration: none;
    color: white;
}
.btnn{
    margin-top: 50px;
    margin-left: 40%;
    height: 60px;
    width: 150px;
    border: solid #302927 3px;
    border-radius: 30px;
    background-color: #302927;
    color: white;
    font-size: 18px;
    font-weight: bold;
    transition: 0.3s all;
}

.btnn:hover{
    border: solid #302927 3px;
    color: white;
    background-color: transparent;
}


@media screen and (max-width : 768px) {
    header ul{
        display: none;
    }
    #mySidenav2{
        display: inline-block;
        padding-right: 20px;
        padding-top: 15px;
    }
    #mySidenav1{
        display: inline-block;
    }
    .colored h2{
        font-size: 1.1rem;
    }
    .colored p{
        font-size: 0.9rem;
    }
}
@media screen and (min-width : 1700px) {
    .logo{font-size: 60px;}
    .search{width: 30px;}
    .profile{width: 40px;}
    header ul a{font-size: 35px;}
    .textt{font-size: 75px;}
    .btnn{height: 65px; width: 210px;font-size: 25px;}
}
@media screen and (min-width : 2700px) {
    .logo{font-size: 90px;}
    .search{width: 50px;}
    .profile{width: 60px;}
    header ul a{font-size: 45px;}
    .textt{font-size: 120px;}
    .btnn{height: 85px; width: 310px;font-size: 35px;border-radius: 50px;}
    header ul li {margin-top: 30px;}
    .line11{
        height: 65px;
        width: 6px;
    }
}


@media screen and (min-width : 4500px) {
    .logo{font-size: 150px;}
    .search{width: 80px;}
    .profile{width: 90px;}
    header ul a{font-size: 80px;}
    .textt{font-size: 200px;}
    .btnn{height: 150px; width: 650px;font-size: 70px;border-radius: 75px;}
    header ul li {margin-top: 60px;}
    .line11{
        height: 120px;
        width: 15px;
    }
    span.dropdown-toggle{width: 100px;}
}



@media screen and (max-width : 900px) {
    #paragraph{
        width: 90%;
    }
}
@media screen and (max-width : 550px) {
    .textt{
        font-size: 40px;
    }
}



